<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accurate_beat_score</key>
		<integer>40</integer>
		<key>source_name</key>
		<string>beat1</string>
		<key>introduction_number</key>
		<integer>2</integer>
		<key>beats_on_round</key>
		<integer>3</integer>
		<key>win_score</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>accurate_beat_score</key>
		<integer>50</integer>
		<key>source_name</key>
		<string>beat2</string>
		<key>introduction_number</key>
		<integer>2</integer>
		<key>beats_on_round</key>
		<integer>3</integer>
		<key>win_score</key>
		<integer>1000</integer>
	</dict>
	<dict>
		<key>accurate_beat_score</key>
		<integer>60</integer>
		<key>source_name</key>
		<string>beat3</string>
		<key>introduction_number</key>
		<integer>3</integer>
		<key>beats_on_round</key>
		<integer>3</integer>
		<key>win_score</key>
		<real>1200</real>
	</dict>
	<dict>
		<key>accurate_beat_score</key>
		<integer>70</integer>
		<key>source_name</key>
		<string>beat4</string>
		<key>introduction_number</key>
		<integer>3</integer>
		<key>beats_on_round</key>
		<integer>3</integer>
		<key>win_score</key>
		<real>1200</real>
	</dict>
	<dict>
		<key>accurate_beat_score</key>
		<integer>80</integer>
		<key>source_name</key>
		<string>beat5</string>
		<key>introduction_number</key>
		<integer>2</integer>
		<key>beats_on_round</key>
		<integer>3</integer>
		<key>win_score</key>
		<real>1900</real>
	</dict>
	<dict>
		<key>accurate_beat_score</key>
		<integer>90</integer>
		<key>source_name</key>
		<string>beat6</string>
		<key>introduction_number</key>
		<integer>3</integer>
		<key>beats_on_round</key>
		<integer>3</integer>
		<key>win_score</key>
		<real>1700</real>
	</dict>
	<dict>
		<key>accurate_beat_score</key>
		<integer>100</integer>
		<key>source_name</key>
		<string>beat7</string>
		<key>introduction_number</key>
		<integer>2</integer>
		<key>beats_on_round</key>
		<integer>2</integer>
		<key>win_score</key>
		<real>3400</real>
	</dict>
	<dict>
		<key>accurate_beat_score</key>
		<integer>110</integer>
		<key>source_name</key>
		<string>beat8</string>
		<key>introduction_number</key>
		<integer>2</integer>
		<key>beats_on_round</key>
		<integer>3</integer>
		<key>win_score</key>
		<real>2000</real>
	</dict>
	<dict>
		<key>accurate_beat_score</key>
		<integer>120</integer>
		<key>source_name</key>
		<string>beat9</string>
		<key>introduction_number</key>
		<integer>3</integer>
		<key>beats_on_round</key>
		<integer>4</integer>
		<key>win_score</key>
		<real>2500</real>
	</dict>
	<dict>
		<key>accurate_beat_score</key>
		<integer>130</integer>
		<key>source_name</key>
		<string>beat10</string>
		<key>introduction_number</key>
		<integer>3</integer>
		<key>beats_on_round</key>
		<integer>4</integer>
		<key>win_score</key>
		<real>2700</real>
	</dict>
</array>
</plist>
